@import "./variables";

.border {
    border: 1px solid red;
}

.header {
    position: relative;
    &__inner {
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        font-weight: 700;
        background: $color-white;
    }

    //? ==================== global-header styles ====================

    input {
        border: 0;
        outline: 0;
    }

    [type="search"]::-webkit-search-cancel-button,
    [type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
        appearance: none;
    }

    .fas {
        color: $color-gray;
    }

    .phone,
    .marker,
    .basket,
    .area {
        margin-left: 10px;
    }

    .fa-phone,
    .header__basket,
    .header__area,
    .search-width,
    .header__bottom,
    .header__dropdown-catalog {
        transition: all .2s linear;
    }

    &__top,
    &__top-left,
    &__top-right {
        @include flex(flex, space-between, center);
    }

    
    


    .link-phone,
    .link-marker,
    .header__basket,
    .header__area,
    .btn-catalog,
    .search-width {
        @include flex(flex, start, center);
    }




    &__top,
    &__bottom {
        position: relative;
        height: $header-top-bottom-height;
    }




    //? ==================== global-header styles ====================

    //? ================ Header Top ===================
    &__top-left {
        width: 55%;
        padding-right: 30px;
    }

    &__logo {
        .logo {
            font-size: 50px;
            color: $color-blue;
        }
    }

    &__list-city {}

    &__link {

        .link-phone,
        .link-marker {
            .fas {
                color: red;
            }

            &:hover {

                a {
                    color: $color-blue;
                }


                i {
                    color: green;
                }


            }
        }

        .link-phone {
            margin-bottom: 10px;

            .fa-phone {
                transform: rotate(-135deg);
            }

            &:hover {
                .fa-phone {
                    transform: rotate(-195deg);
                }
            }
        }
    }

    &__top-right {
        padding-left: 30px;
        width: 35%;
    }

    &__basket {
        position: relative;
        padding: 13px 20px;
        border-radius: 50px 50px 10px 50px;
        border: 1px solid transparent;

        &:hover {
            border: 1px solid $color-blue;

            .fas,
            p {
                color: $color-blue
            }
        }

        .basket__total {
            position: absolute;
            font-size: 12px;
            top: -5px;
            right: -5px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            width: 20px;
            border-radius: 50%;
            color: $color-white;
            background-color: $color-blue;
        }

    }

    &__area {
        border-radius: 50px 50px 50px 10px;
        padding: 13px 20px;
        border: 1px solid transparent;

        &:hover {
            border: 1px solid $color-blue;

            .fas,
            p {
                color: $color-blue
            }
        }
    }

    //? ===================== Header Bottom ========================

    &__bottom {
        border-top: 1px solid #dedede;
        box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
        @include flex(flex, center, center);

        .container {
           @include flex(flex, center, center);
           width: 100%;
        }


        .header__bottom-left {
            @include flex(flex, space-between, center);
            width: 50%;

            //? ============= Btn - catalog ====================
            .btn-catalog {
                align-items: center;
                border-radius: 50px 50px 50px 10px;
                padding: 16px 27px;
                color: $color-white;
                font-weight: 400;
                background: $color-blue;
                cursor: pointer;

                &:hover {
                    background: #06509f;
                }
            }

            .btn-catalog__burger,
            .btn-catalog__burger::before,
            .btn-catalog__burger::after {
                position: relative;
                width: 22px;
                height: 1px;
                background: $color-white;
            }

            .btn-catalog__burger::before,
            .btn-catalog__burger::after {
                position: absolute;
                content: '';
            }

            .btn-catalog__burger::before {
                top: -6px;
            }

            .btn-catalog__burger::after {
                bottom: -6px;
            }

            .btn-catalog {

                .btn-catalog__burger::before,
                .btn-catalog__burger::after {
                    transition: all .1s linear;
                }
            }

            .btn-catalog.active {
                .btn-catalog__burger {
                    height: 0;
                }

                .btn-catalog__burger::before,
                .btn-catalog__burger::after {
                    top: -1px;
                    transition: all .1s linear;
                }

                .btn-catalog__burger::before {
                    transform: rotate(45deg);
                }

                .btn-catalog__burger::after {
                    transform: rotate(-45deg);
                }
            }

            .btn-catalog__title {
                margin-left: 20px;
            }

            //? ================== serch - btn ======================
            .search-container {

                width: 250px;

                .search-width {
                    width: 70px;
                    position: relative;

                    .fa-search {
                        font-size: 20px;
                    }

                    justify-content: center;

                }



                .fa-search {
                    position: absolute;
                }

                .search {
                    height: 49px;
                    border-radius: 50px 50px 10px 50px;
                    border: 1px solid $color-gray;
                    width: 100%;
                    color: $color-white;
                }

                .search-width.active {
                    width: 80%;

                    .fa-search {
                        right: 10px;
                        color: $color-blue;
                    }

                    .search {
                        font-weight: 600;
                        font-size: 16px;
                        color: $color-blue;
                        padding: 0 30px 0 10px;
                        border: 1px solid $color-blue;
                    }
                }


                .search-width {
                    &:hover {
                        .search {
                            border: 1px solid $color-blue;
                        }

                        .fa-search {
                            color: $color-blue;
                        }
                    }
                }
            }
        }

        .header__bottom-right {
            width: 50%;
            .nav-list {
                height: 49px;
                list-style: none;
                @include flex(flex, flex-end, center);
            }

            .nav-item {
                margin-right: 10px;
            }

            .nav-link {
                position: relative;
                font-size: 14px;
                color: $color-black;
                text-transform: uppercase;

                &::after {
                    position: absolute;
                    content: '';
                    bottom: 0;
                    left: 50%;
                    width: 100%;
                    transform: translateX(-50%) scaleX(0);
                    transform-origin: 50% 50%;
                    height: 2px;
                    background: $color-blue;
                    transition: transform .2s;
                }

                &:hover::after {

                    transform: translateX(-50%) scaleX(1);
                }

                &:hover {
                    color: $color-blue;
                }
            }
        }
    }

    &__bottom.active {
        border-top: 1px solid transparent;
        transition: all .2s;
        box-shadow: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        background: $color-blue;

        .btn-catalog {
            background: rgba(255, 255, 255, 0.1) !important;
            border: 1px solid transparent;

            &:hover {
                border: 1px solid $color-white;
            }
        }

        .search-container {
            .search-width {
                .search {
                    border: 1px solid transparent;
                    color: transparent;
                    background: rgba(255, 255, 255, 0.1);
                }

                .fa-search {
                    color: $color-white;
                }
            }

            .search-width.active {

                .fa-search,
                .search {
                    color: $color-white;
                }

                .search {
                    border: 1px solid $color-white;
                }
            }

            .search-width {
                &:hover {
                    .search {
                        border: 1px solid $color-white;
                    }

                    .fa-search {
                        color: $color-white;
                    }
                }
            }
        }

        .container {
            .header__bottom-right {
                .header__nav {
                    .nav-list {
                        display: none;
                    }
                }
            }
        }

    }

    .header__dropdown-catalog {
        opacity: 0;
        .container-grid {
            display: none;
        }
    }

    .header__dropdown-catalog.active {
        position: absolute;
        z-index: 999;
        height: 100vh;
        width: 100%;
        font-weight: 700;
        padding-top: $header-top-bottom-height * 2 + 50px;
        transition: all .2s;
        opacity: 1;
       
        background: $color-blue;

        .container-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 30px;
            margin-bottom: 30px;
            grid-auto-rows: minmax(200px, auto);

            .grid-item {
                position: relative;
                padding: 30px 0 0 30px;
                background: $color-white;

                .grid-title {
                    font-weight: 400;
                    font-size: 30px;
                }

                .item-link {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
            }

            .grid-item:nth-child(1) {
                grid-column: 1;
                grid-row: 1 / 3;
            }

            .grid-item:nth-child(2),
            .grid-item:nth-child(4) {
                background-repeat: no-repeat;
                background-position: right bottom;
            }

            .grid-item:nth-child(2) {
               
                background-image: url(https://dronov.ru/wp-content/themes/skydron/assets/img/c1.png);
            }
            .grid-item:nth-child(4) {
                 background-image: url(https://dronov.ru/wp-content/themes/skydron/assets/img/c2.png);
            }

            .grid-list {
                list-style: none;
                left: 34px;

                .grid-list-item {
                    margin-top: 20px;
                }
            }

            .grid-link {
                color: $color-blue;
                position: relative;

                &::after {
                    position: absolute;
                    content: '';
                    bottom: 0;
                    left: 50%;
                    width: 100%;
                    transform: translateX(-50%) scaleX(0);
                    transform-origin: 50% 50%;
                    height: 2px;
                    background: $color-blue;
                    transition: transform .2s;
                }

                &:hover::after {

                    transform: translateX(-50%) scaleX(1);
                }

            }
        }

        .btn-wrapper {
            @include flex(flex, center, center);
            .btn-more {
                color: $color-white;
                border-radius: 50px 50px 50px 10px !important;
                padding: 16px 27px;
                background: rgba(255, 255, 255, 0.1);
                transition: background .2s;
                &:hover {
                    background: #06509f;

                }

            }
        }
    }
}