*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "mixins";
@import "variables";
@import "fonts";




body{
    @include state-body($body-font-family, $body-color, $body-font-size, $body-font-weight);
}


 body.active {
   overflow-y: hidden;
}

a{
    text-decoration: none;
    color: #000;
}

.material-icons{
    font-size: 15px;
}

.container {
    max-width: 1100px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
}



@import "./homepace/homepace.scss";


