* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Gilroy";
  color: #000;
  font-size: 15px;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #000;
}

.material-icons {
  font-size: 15px;
}

.container {
  max-width: 1100px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}

.border {
  border: 1px solid red;
}

.header {
  position: relative;
}

.header__inner {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-weight: 700;
  background: #fff;
}

.header input {
  border: 0;
  outline: 0;
}

.header [type="search"]::-webkit-search-cancel-button,
.header [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

.header .fas {
  color: gray;
}

.header .phone,
.header .marker,
.header .basket,
.header .area {
  margin-left: 10px;
}

.header .fa-phone,
.header .header__basket,
.header .header__area,
.header .search-width,
.header .header__bottom,
.header .header__dropdown-catalog {
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.header__top,
.header__top-left,
.header__top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .link-phone,
.header .link-marker,
.header .header__basket,
.header .header__area,
.header .btn-catalog,
.header .search-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top,
.header__bottom {
  position: relative;
  height: 80px;
}

.header__top-left {
  width: 55%;
  padding-right: 30px;
}

.header__logo .logo {
  font-size: 50px;
  color: #1F72CC;
}

.header__link .link-phone .fas,
.header__link .link-marker .fas {
  color: red;
}

.header__link .link-phone:hover a,
.header__link .link-marker:hover a {
  color: #1F72CC;
}

.header__link .link-phone:hover i,
.header__link .link-marker:hover i {
  color: green;
}

.header__link .link-phone {
  margin-bottom: 10px;
}

.header__link .link-phone .fa-phone {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.header__link .link-phone:hover .fa-phone {
  -webkit-transform: rotate(-195deg);
      -ms-transform: rotate(-195deg);
          transform: rotate(-195deg);
}

.header__top-right {
  padding-left: 30px;
  width: 35%;
}

.header__basket {
  position: relative;
  padding: 13px 20px;
  border-radius: 50px 50px 10px 50px;
  border: 1px solid transparent;
}

.header__basket:hover {
  border: 1px solid #1F72CC;
}

.header__basket:hover .fas,
.header__basket:hover p {
  color: #1F72CC;
}

.header__basket .basket__total {
  position: absolute;
  font-size: 12px;
  top: -5px;
  right: -5px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  width: 20px;
  border-radius: 50%;
  color: #fff;
  background-color: #1F72CC;
}

.header__area {
  border-radius: 50px 50px 50px 10px;
  padding: 13px 20px;
  border: 1px solid transparent;
}

.header__area:hover {
  border: 1px solid #1F72CC;
}

.header__area:hover .fas,
.header__area:hover p {
  color: #1F72CC;
}

.header__bottom {
  border-top: 1px solid #dedede;
  -webkit-box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header__bottom .header__bottom-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.header__bottom .header__bottom-left .btn-catalog {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px 50px 50px 10px;
  padding: 16px 27px;
  color: #fff;
  font-weight: 400;
  background: #1F72CC;
  cursor: pointer;
}

.header__bottom .header__bottom-left .btn-catalog:hover {
  background: #06509f;
}

.header__bottom .header__bottom-left .btn-catalog__burger,
.header__bottom .header__bottom-left .btn-catalog__burger::before,
.header__bottom .header__bottom-left .btn-catalog__burger::after {
  position: relative;
  width: 22px;
  height: 1px;
  background: #fff;
}

.header__bottom .header__bottom-left .btn-catalog__burger::before,
.header__bottom .header__bottom-left .btn-catalog__burger::after {
  position: absolute;
  content: '';
}

.header__bottom .header__bottom-left .btn-catalog__burger::before {
  top: -6px;
}

.header__bottom .header__bottom-left .btn-catalog__burger::after {
  bottom: -6px;
}

.header__bottom .header__bottom-left .btn-catalog .btn-catalog__burger::before,
.header__bottom .header__bottom-left .btn-catalog .btn-catalog__burger::after {
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}

.header__bottom .header__bottom-left .btn-catalog.active .btn-catalog__burger {
  height: 0;
}

.header__bottom .header__bottom-left .btn-catalog.active .btn-catalog__burger::before,
.header__bottom .header__bottom-left .btn-catalog.active .btn-catalog__burger::after {
  top: -1px;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}

.header__bottom .header__bottom-left .btn-catalog.active .btn-catalog__burger::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__bottom .header__bottom-left .btn-catalog.active .btn-catalog__burger::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__bottom .header__bottom-left .btn-catalog__title {
  margin-left: 20px;
}

.header__bottom .header__bottom-left .search-container {
  width: 250px;
}

.header__bottom .header__bottom-left .search-container .search-width {
  width: 70px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__bottom .header__bottom-left .search-container .search-width .fa-search {
  font-size: 20px;
}

.header__bottom .header__bottom-left .search-container .fa-search {
  position: absolute;
}

.header__bottom .header__bottom-left .search-container .search {
  height: 49px;
  border-radius: 50px 50px 10px 50px;
  border: 1px solid gray;
  width: 100%;
  color: #fff;
}

.header__bottom .header__bottom-left .search-container .search-width.active {
  width: 80%;
}

.header__bottom .header__bottom-left .search-container .search-width.active .fa-search {
  right: 10px;
  color: #1F72CC;
}

.header__bottom .header__bottom-left .search-container .search-width.active .search {
  font-weight: 600;
  font-size: 16px;
  color: #1F72CC;
  padding: 0 30px 0 10px;
  border: 1px solid #1F72CC;
}

.header__bottom .header__bottom-left .search-container .search-width:hover .search {
  border: 1px solid #1F72CC;
}

.header__bottom .header__bottom-left .search-container .search-width:hover .fa-search {
  color: #1F72CC;
}

.header__bottom .header__bottom-right {
  width: 50%;
}

.header__bottom .header__bottom-right .nav-list {
  height: 49px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__bottom .header__bottom-right .nav-item {
  margin-right: 10px;
}

.header__bottom .header__bottom-right .nav-link {
  position: relative;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
}

.header__bottom .header__bottom-right .nav-link::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 50%;
  width: 100%;
  -webkit-transform: translateX(-50%) scaleX(0);
      -ms-transform: translateX(-50%) scaleX(0);
          transform: translateX(-50%) scaleX(0);
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  height: 2px;
  background: #1F72CC;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  -o-transition: transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.header__bottom .header__bottom-right .nav-link:hover::after {
  -webkit-transform: translateX(-50%) scaleX(1);
      -ms-transform: translateX(-50%) scaleX(1);
          transform: translateX(-50%) scaleX(1);
}

.header__bottom .header__bottom-right .nav-link:hover {
  color: #1F72CC;
}

.header__bottom.active {
  border-top: 1px solid transparent;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background: #1F72CC;
}

.header__bottom.active .btn-catalog {
  background: rgba(255, 255, 255, 0.1) !important;
  border: 1px solid transparent;
}

.header__bottom.active .btn-catalog:hover {
  border: 1px solid #fff;
}

.header__bottom.active .search-container .search-width .search {
  border: 1px solid transparent;
  color: transparent;
  background: rgba(255, 255, 255, 0.1);
}

.header__bottom.active .search-container .search-width .fa-search {
  color: #fff;
}

.header__bottom.active .search-container .search-width.active .fa-search,
.header__bottom.active .search-container .search-width.active .search {
  color: #fff;
}

.header__bottom.active .search-container .search-width.active .search {
  border: 1px solid #fff;
}

.header__bottom.active .search-container .search-width:hover .search {
  border: 1px solid #fff;
}

.header__bottom.active .search-container .search-width:hover .fa-search {
  color: #fff;
}

.header__bottom.active .container .header__bottom-right .header__nav .nav-list {
  display: none;
}

.header .header__dropdown-catalog {
  opacity: 0;
}

.header .header__dropdown-catalog .container-grid {
  display: none;
}

.header .header__dropdown-catalog.active {
  position: absolute;
  z-index: 999;
  height: 100vh;
  width: 100%;
  font-weight: 700;
  padding-top: 210px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  opacity: 1;
  background: #1F72CC;
}

.header .header__dropdown-catalog.active .container-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-bottom: 30px;
  grid-auto-rows: minmax(200px, auto);
}

.header .header__dropdown-catalog.active .container-grid .grid-item {
  position: relative;
  padding: 30px 0 0 30px;
  background: #fff;
}

.header .header__dropdown-catalog.active .container-grid .grid-item .grid-title {
  font-weight: 400;
  font-size: 30px;
}

.header .header__dropdown-catalog.active .container-grid .grid-item .item-link {
  position: absolute;
  width: 100%;
  height: 100%;
}

.header .header__dropdown-catalog.active .container-grid .grid-item:nth-child(1) {
  grid-column: 1;
  grid-row: 1 / 3;
}

.header .header__dropdown-catalog.active .container-grid .grid-item:nth-child(2),
.header .header__dropdown-catalog.active .container-grid .grid-item:nth-child(4) {
  background-repeat: no-repeat;
  background-position: right bottom;
}

.header .header__dropdown-catalog.active .container-grid .grid-item:nth-child(2) {
  background-image: url(https://dronov.ru/wp-content/themes/skydron/assets/img/c1.png);
}

.header .header__dropdown-catalog.active .container-grid .grid-item:nth-child(4) {
  background-image: url(https://dronov.ru/wp-content/themes/skydron/assets/img/c2.png);
}

.header .header__dropdown-catalog.active .container-grid .grid-list {
  list-style: none;
  left: 34px;
}

.header .header__dropdown-catalog.active .container-grid .grid-list .grid-list-item {
  margin-top: 20px;
}

.header .header__dropdown-catalog.active .container-grid .grid-link {
  color: #1F72CC;
  position: relative;
}

.header .header__dropdown-catalog.active .container-grid .grid-link::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 50%;
  width: 100%;
  -webkit-transform: translateX(-50%) scaleX(0);
      -ms-transform: translateX(-50%) scaleX(0);
          transform: translateX(-50%) scaleX(0);
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  height: 2px;
  background: #1F72CC;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  -o-transition: transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.header .header__dropdown-catalog.active .container-grid .grid-link:hover::after {
  -webkit-transform: translateX(-50%) scaleX(1);
      -ms-transform: translateX(-50%) scaleX(1);
          transform: translateX(-50%) scaleX(1);
}

.header .header__dropdown-catalog.active .btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__dropdown-catalog.active .btn-wrapper .btn-more {
  color: #fff;
  border-radius: 50px 50px 50px 10px !important;
  padding: 16px 27px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background .2s;
  -o-transition: background .2s;
  transition: background .2s;
}

.header .header__dropdown-catalog.active .btn-wrapper .btn-more:hover {
  background: #06509f;
}

.modalWindow.active {
  z-index: 100000000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.318);
}

.modalWindow.active .modalWindow__inner {
  width: 1000px;
  height: 300px;
  background: #fff;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
}